.mainBlock {
    height: 100vh;
    background-color: #343a40;
}
.particlesDiv{
    /*width: 10px;*/
    /*height: 10px;*/
    /*border: 1px solid red;*/
    /*position: absolute;*/
}

.particles{
    position: relative;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
}
canvas.tsparticles-cavas-el{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.greetingText {
    width: 300px;
    /*background-color: #f7f7f7;*/
}
.firstText {
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 5px;
}
.secondText {
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 300;
    font-size: 18.54px;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

.photo {
    width: 300px;
    height: 402px;
    background-color: #f7f7f7;
   position: relative;
    z-index: 0;
}
.img{
    width: 300px;
    height: 402px;
}
.photo::before {
    content: "";
    position: absolute;
    /*background: #4e93e6;*/
    height: 110%;
    width: 105%;
    border: 5px solid  #4e93e6;
    left: 15px;
    top: -15px;
    z-index: -1;
}
