.icon {
    height: 300px;
    width: 100%;
    background-color: #eeeef5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.icon::before{
    position: absolute;
    content: " ";
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}
.button {
    background-color: #343a40;
    font-family: 'Josefin Sans', 'sans-serif';
    color: white;
    border-radius: 5px;
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.project {
    width: 430px;
    background-color: #252527;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

}
.projectTitle{
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: #ffffff;
}
.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%;
    justify-content: space-between;
    padding: 25px 20px;
}
.title, .description {
    margin: 10px 0px 10px 10px;
}
.description {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

/*.description {*/
/*    margin-left: 20px;*/
/*    background-color: #808690;*/
/*}*/